<div class="footer_nav">
  <p class="w1000"><a class="color" href="#" target="_blank" title="使用帮助">使用帮助</a>-<a class="color" href="#" target="_blank" title="使用帮助">常见问题</a>-<a href="{maccms:link_gbook}" target="_blank" title="给我留言">给我留言</a>-<a href="{maccms:getlink new.html}" target="_blank" title="最新更新">最新更新</a>-<a href="{maccms:link_map_baidu}" target="_blank" title="百度地图">百度地图</a>-<!--<a href="{maccms:link_map_vod}" target="_blank" title="网站地图">网站地图</a>- --><a href="{maccms:link_map_rss}" target="_blank" title="RSS订阅">RSS订阅</a>-{maccms:visits}</p>
</div>
<div class="footer">
 <p class="w1000">本网站提供新电视剧和电影资源均系收集于各大视频网站，本网站只提供web页面服务，并不提供影片资源存储，也不参与录制、上传</br>
若本站收录的节目无意侵犯了贵司版权，请给<a href="mailto:{maccms:email}">{maccms:email}</a>邮箱地址来信，我们将在第一时间处理与回复,谢谢
</br>Copyright &#169; 2012-2014 <a href="http://{maccms:url}/"><font face="Verdana, Arial, Helvetica, sans-serif"><b><font color="#F60">186133</font><font color="#CC0000">.Com</font></font></b></a>.All Rights Reserved .</p>
</div>