<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>网络直播 - {maccms:name}</TITLE>
<meta name="keywords" content="网络直播,{maccms:keywords}" />
<meta name="description" content="网络直播,{maccms:description}" />
{maccms:include}
</head>
<body>
{maccms:head}
<div class="wz"><span>您当前的位置：</span><a href="{maccms:path}">首页</a><a class="current" href="{maccms:getlink zhibo.html}">网络直播</a></ul></div>
<div class="ad980">
<script src="{maccms:path_ads}960x90-1.js"></script>
</div>
<div  style="width: 1000px; margin:0 auto; background-color:#FFFFFF">
<iframe frameborder="0" scrolling="No" width="100%" height="530" src="http://www.fengyunzhibo.com/mini/fengyunmini.htm?from=pingguo"></iframe>
</div>
<div class="h-clear"></div>
{maccms:foot}

<script src="{maccms:path_tpl}js/main.js" type="text/javascript"></script>
<script type="text/javascript" src="{maccms:path_tpl}js/IE6Top.js"></script>
<div class="back-to-top" id="back-to-top"><a href="javascript:window.scrollTo(0, 0);" target="_self">Back to Top</a></div></body>
</html>