<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<TITLE>专题列表 - {maccms:name}</TITLE>
<meta name="keywords" content="专题列表,{maccms:name}" />
<meta name="description" content="专题列表,{maccms:name}" />
{maccms:include}
</head>
<body>
{maccms:head}
<div class="wz"><span>您当前的位置：</span><a href="{maccms:path}">首页</a><a class="current" href="{maccms:link_topic_vod}">专题</a></div>
<div class="ad980">
<script src="{maccms:path_ads}h960x90.js"></script>
</div>
<div class="datnew w1000">
<ul class="specail-item fn-clear" id="contents">
       {maccms:topic num=12 table=vod id=all}		
		<li><a class="play-img" href="[topic:link]" target="_blank"><img class="loading" src="{maccms:path_tpl}images/blankbig.png" data-lazyload-src="[topic:pic]" data-lazyload-type="auto" alt="专题《[topic:name]》" />
        <label class="mask">&nbsp;</label>
        <label class="text">[topic:name]</label>
        </a></li>
		{/maccms:topic}	
		</ul>
<div class="uipages ui-vpages" id="long-page">{maccms:pages len=6}</div>	
 </div>      
{maccms:foot}

<script src="{maccms:path_tpl}js/main.js" type="text/javascript"></script>
<script type="text/javascript" src="{maccms:path_tpl}js/IE6Top.js"></script>
<div class="back-to-top" id="back-to-top"><a href="javascript:window.scrollTo(0, 0);" target="_self">Back to Top</a></div></body>
</html>