@charset "utf-8";
/* CSS Document */
.dmjczt{}
.dmjczt ul{padding:15px 0px 1px;}
.dmjczt li{overflow:hidden;float:left;display:inline;margin:0px 0px 0px 14px;padding:0px 0px 10px;width:104px;text-align:center;}
.dmjczt li img{display:block;margin:0px 0px 4px;width:104px;height:58px;}