<div class="xing_top"> 
   <ul> 
    <li class="xing_top_left"><img src="{maccms:path_tpl}images/logo.png" width="200" height="60" alt="{maccms:name}" /></li> 
    <li class="xing_top_center"> 
     <div class="search"> 
      <div class="search-inner"> 
       <form action="{maccms:link_search_vod}" method="post"> 
        <input type="text" x-webkit-speech="" autocomplete="off" name="wd" id="wd" class="search-text" onblur="if(this.value==''){ this.value='100万部影片任你搜索';this.style.color='#cfcdcd';}" onfocus="if(this.value=='100万部影片任你搜索'){this.value='';this.style.color='';}" value="100万部影片任你搜索" /> 
        <input type="hidden" name="submit" value="search" /> 
        <input type="submit" class="search-btn" value="搜索" /> 
       </form> 
      </div> 
     </div> </li> 
    <li class="xing_top_right"> 
     <div class="topright"> 
      <ul>
       <li>今日更新：<strong>{maccms:count_vod_day}</strong></li>
      </ul> 
      <ul>
       <li>{maccms:name}影片共有：<strong>{maccms:count_vod_all}</strong></li>
      </ul> 
      <ul>
       <li><a href="javascript:window.external.addFavorite('http://{maccms:url}','{maccms:name}');">收藏本站</a> | <a class="ge" onclick="var strHref=window.location.href;this.style.behavior='url(#default#homepage)';this.setHomePage('http://{maccms:url}');" href="#" id="topmenu1" accesskey="1">设为首页</a> | <a href="{maccms:link_gbook}">留言求片</a> </li>
      </ul> 
     </div> </li> 
   </ul> 
   <div style="clear:both"></div> 
  </div> 
  <!--  -->
<div class="layout">
			<div class="tbg10"></div>
			<div class="mainArea px9">
			<div  class="col"></div>
        		{maccms:matrix table=vod type=parent}
        		<ul class="menu mt5">
					<li class="active"><a href="/">[matrix:name]</a></li>
					{maccms:menu type=child parent=[matrix:id] order=asc table=vod}
					<li><a href="[menu:link]" target="_blank">[menu:name]</a></li>
					{/maccms:menu}					
				</ul>
				{/maccms:matrix}
        		{maccms:matrix table=art type=parent}
        		<ul class="menu mt5">
					<li class="active"><a href="/">[matrix:name]</a></li>
					{maccms:menu table=art type=child parent=[matrix:id] order=asc}
					<li><a href="[menu:link]" target="_blank">[menu:name]</a></li>
					{/maccms:menu}
				</ul>
				{/maccms:matrix}
				<br />
				<div id="top"><script type="text/javascript" language="javascript"  src="{maccms:path_ads}ads945x80.js"></script></div>
			</div>
			<div class="bbg10"></div>
</div>