<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>正在播放 [vod:name] [vod:playname]</title>
{maccms:include}
</head>
<body>
<div class="mainbox">
{maccms:head}
<div class="layout mt10">
	<div class="tbg10"></div>
	<div class="mainArea px19">
		<div class="position"><span class="playerTip"><a href="/help/index.html" target="_blank" class="white">提示：如果無法播放，點擊獲取更多幫助！</a></span>当前位置：[vod:textlink]-[vod:playname]</div>
	</div>
	<div class="bbg10"></div>
</div>
		<div class="layout mt10">
			<div class="tbg20"></div>
			<div class="mainArea px9">
			<ul style="text-align:center;;">
                <li>[vod:playerinfo][vod:player]</li>
				</ul>
				<div class="clear"></div>
			</div>
			<div class="bbg20"></div>
		</div>
{maccms:foot}
</body>
</html>