<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>{typepage:name}频道- 最新、最好看的高清正版{typepage:name}-{maccms:name}</title>
<meta name="description" content="{maccms:name}{typepage:name}频道提供当下最新、最火各类好看的{typepage:name}大片在线观看服务，{maccms:name}{typepage:name}频道是国内唯一正版高清{typepage:name}汇聚地，致力于构建海量高清{typepage:name}播放平台，向广大提供网友丰富多彩的好莱坞{typepage:name}、欧洲{typepage:name}、日韩{typepage:name}、华语{typepage:name}以及其他国家的经典{typepage:name}在线点播服务。">
<meta name="title" content="{typepage:name}频道- 最新、最好看的高清正版{typepage:name}-{maccms:name}">
<meta name="keywords" content="{typepage:name},大片,最新{typepage:name},高清{typepage:name},正版{typepage:name},国产片,好莱坞大片,欧洲{typepage:name},港台{typepage:name},日韩{typepage:name},热播{typepage:name},免费{typepage:name},高清视频,在线观看">
<link rel="stylesheet" type="text/css" href="{maccms:templatepath}images/tv/indextv.css">
<link rel="stylesheet" type="text/css" href="{maccms:templatepath}images/tv/lvAddNewStyle20120809.css">
 <link rel="stylesheet" type="text/css" href="{maccms:templatepath}images/tv/global_index.css" media="all"> 
<script type="text/javascript" src="{maccms:templatepath}images/js/config.js"></script>
<script type="text/javascript" src="{maccms:templatepath}images/js/sea1.2.js"></script>
<style type="text/css"> 
<!--
.STYLE1 {
	font-size: 18px;
	font-weight: bold;
}
-->
</style>
</head>
<body class="dysy" screen_capture_injected="true">
  <!-- 标准导航 -->
<!-- nav-top Start -->
<div class="navTopNew" data-newnav="newnav" data-channel="pindao">
	<div class="navMid clearfix">
		<div class="topNavLt">
				<div class="topLogo">
		<a href="{maccms:path}"><img src="{maccms:templatepath}images/logo1.png" title="{maccms:name}" alt="{maccms:name}">
		</a>	
	</div>
			<div class="topDot">
				<h2><a title="{maccms:name}首页" href="{maccms:path}">首 页</a></h2>
			</div>
		</div>
		<div class="topNavMid">
			<div class="dhBox">
				<div class="dhGuide" id="j-navGuide"><div class="" id="j-shadow">导航</div></div>
                
                 <!-- guide Start -->
                <div class="ydBox" id="j-guideTips">
                    <div class="gtips-bg"></div>
                    <div class="gtips-txt">
                        <p>
                            <span>更多频道内容在这里查看</span><a href="javascript:void(0);" j-tipclose="closebtn" class="xclose">知道了</a>
                        </p>
                    </div>
                </div>
				<!-- guide End -->
				<!-- nav first Start -->
				<div class="navboxFirst" id="j-navOne">
					<div class="navFirst">
<div class="nav-hd"></div>
						<div class="nav-cont">
							<ul class="dhList clearfix">
                                <li class="top"><a data-navpingback="index" href="{maccms:path}">{maccms:name}首页</a></li>
			{maccms:menulist table=vod type=parent by=id order=asc}
			<li><a href="[menulist:link]" title="[menulist:name]">[menulist:name]</a>&nbsp;|</li>
			  {/maccms:menulist}
			  <li><a href="{maccms:artindexlink} ">新闻动态</a>&nbsp;|</li>
			  <li><a href="{maccms:vodtopiclink}  ">影视专题</a>&nbsp;|</li>
              </ul>
						</div>
					</div>
				</div>
				<!-- nav first End -->
			</div>
		</div>
 <div class="topNavRt">
            <div class="topLogin"> 
                <div class="usrTx-box">
                    <div> 
					<a href="{maccms:userlink} ">登录/注册</a>
						  <span class="gline">|</span>
						  <a href="{maccms:path}zhibo.html">电视直播</a>
						  <span class="gline">|</span>
						  <a href="{maccms:vodmaplink}">网站地图</a>
						  <span class="gline">|</span>
						  <a href="{maccms:gbooklink}">用户留言</a>		
                    </div>  
                </div>
            </div>
			<!--new=login end-->
			
			<div class="searchbox">
				<form name="" action="{maccms:searchlink}" method="get" action="{maccms:searchlink}" method="get" name="search" id="search" target="_blank">
				<div class="srchDef">
					<span class="in"><input type="text" class="navTopTxt" value="请输入视频名、导演或主演"  onfocus="if(this.value=='请输入视频名、导演或主演'){this.value='';}"   onblur="if(this.value==''){this.value='请输入视频名、导演或主演'}"  id="keyword" name="keyword" autocomplete="off" maxlength="36"></span>
					<span class="out"><input class="navTopBtn" type="submit" value=""></span>
				</div>
				</form>
			</div>
		</div>
 
	</div>
</div>
<!-- nav-top End -->
<!-- nav second Start -->
<div class="second_newmenu">
	<div class="navboxSecond">
		<div class="subNav">
			<span class="clt"></span><span class="crt"></span><span class="clb"></span><span class="crb"></span>
			<div class="navLt">
				<a href="{maccms:path}" class="selected">首页</a>|
				{maccms:menulist table=vod parent={maccms:curvodtypeid} order=asc}
				<a alt="[menulist:name]" title="[menulist:name]" href="[menulist:link]">[menulist:name]</a>|
				{/maccms:menulist}
			</div>
			<div class="navRt">
				
			</div>
		</div>
	</div>
<div style="height:5px"></div>
</div>
<div align="center">
 <script src="{maccms:templatepath}ads/vodlist980x90-1.js"></script>
</div>
<!-- nav second End -->
  <!-- 标准导航 end --> 
  <div class="in_container">
  <!-- 头部搜索区域 -->
  <div class="search search_new" collection="Y">  
  	<!-- 检索区域 -->
    <div class="searchT" style="margin-right:30px;" collection="Y">
		<h2 class="searchTBg_new">检索</h2>
        <a href="/phb.php">热播排行>></a>
	</div>
    <dl style="width:155px;" class="searchDl">
      <dt>按类型</dt>
      <dd>
				{maccms:menulist table=vod parent={maccms:curvodtypeid} order=asc}
				<a alt="[menulist:name]" title="[menulist:name]" href="[menulist:link]">[menulist:name]</a>
				{/maccms:menulist}
     </dd>
    </dl>
    <dl class="searchDl" style="width:155px;">
      <dt>按年代</dt>
      <dd>
	  <a href="?type={maccms:curvodtypeid}&year=2013">2013</a>
<a href="?type={maccms:curvodtypeid}&year=2012">2012</a>
<a href="?type={maccms:curvodtypeid}&year=2011">2011</a>
<a href="?type={maccms:curvodtypeid}&year=2010">2010</a>
<a href="?type={maccms:curvodtypeid}&year=2009">2009</a>
<a href="?type={maccms:curvodtypeid}&year=2008">2008</a>
<a href="?type={maccms:curvodtypeid}&year=2007">2007</a>
<a href="?type={maccms:curvodtypeid}&year=2006">2006</a>
<a href="?type={maccms:curvodtypeid}&year=2005">2005</a>
<a href="?type={maccms:curvodtypeid}&year=2004">2004</a>
<a href="?type={maccms:curvodtypeid}&year=2003">2003</a>
<a href="?type={maccms:curvodtypeid}&year=2002">2002</a>
 
 
</dd>
    </dl><dl class="searchDl" style="width: 80px;">
      <dt>按地区</dt>
      <dd><a href="?type={maccms:curvodtypeid}&area=大陆">华语</a>
          <a href="?type={maccms:curvodtypeid}&area=美国">美国</a> 
          <a href="?type={maccms:curvodtypeid}&area=韩国">韩国</a> 
          <a href="?type={maccms:curvodtypeid}&area=欧洲">欧洲</a>
         
		  </dd>
    </dl>
<dl class="searchDl qycp_s_s2 dy_qy" collection="Y"> 
  <h2 class="searchTBg_new" style="background:url({maccms:templatepath}images/dsjpc_bg2.png) no-repeat; width:95px; height:37px; line-height:37px; ">小俊出品</h2> 
	<dd class="dd_1"> 
	{maccms:topiclist num=2 order=desc by=id table=vod}
		<div class="kongbu"> 
			<div><a href="[topiclist:link]"><img alt="[topiclist:name]" title="[topiclist:name]" data-lazy="[topiclist:piv]" height="50" width="100" src="[topiclist:pic]"></a></div> 
			<p><strong><a class="ui-droppable" title="" href=""></a></strong></p> 
			<p><a class="ui-droppable" title="[topiclist:name]" href="[topiclist:link]">[topiclist:name len=8]</a></p>
		</div> 
   {/maccms:topiclist}
	</dd> 
</dl>
  </div>
  <!-- 头部搜索区域 end --> 
  <!-- 主内容 -->
  <div class="mBg1">
    <div class="m705">
      <!-- 热播大片 -->
      <div class="m705C first" collection="Y">
  <div class="title">
    <h2><img title="热播大片" alt="热播大片" data-lazy="{maccms:templatepath}images/zjgx.png" height="18" width="66" src="{maccms:templatepath}images/zjgx.png"></h2>
    <p class="more"> <a href="#">更多>></a></p>
    <p class="more"></p>
  </div>
<div> 
    <ul class="ulList r5">
{maccms:vodlist num=10 type={maccms:curvodtypeid} by=time order=desc}
<li><a href="[vodlist:link]" class="imgBg1" title="[vodlist:name]">
<img title="[vodlist:name][[vodlist:remarks]]" data-lazy="[vodlist:pic]" alt="[vodlist:name]" width="95" height="127" src="[vodlist:pic]"></a> 
<strong><a href="[vodlist:link]" title="[vodlist:name][[vodlist:remarks]]">[vodlist:name len=8]</a></strong><br></li>
{/maccms:vodlist}
       </ul>
  </div>    
</div>
<script src="{maccms:templatepath}ads/vodlist700x90-1.js"></script>

 
{maccms:typematrix type=12,13,14,15,17 table=vod}
      <!-- 最近更新 -->
<div class="m705C" collection="Y">
  <div class="title first">
  <p class="STYLE1"> <a href="[typematrix:link]">[typematrix:name]</a></p>
  </div>
 
  <ul class="ulList r5">
{maccms:vodlist num=5 type=[typematrix:id] by=time order=desc}
<li><a href="[vodlist:link]" class="imgBg1 chaoqing_pic">
<img data-lazy="[vodlist:pic]" alt="[vodlist:name]" title="[vodlist:name]" width="95" height="127" src="[vodlist:pic]"><span class="cqBg"></span></a> <strong><a href="[vodlist:link]">[vodlist:name len=8]</a></strong><br><span>[vodlist:remarks]</span></li>
{/maccms:vodlist}
</ul>
</div>
      <!-- 最近更新 end -->
{/maccms:typematrix} 
 
 
      <!-- 20110817 添加 end -->
      
    </div>
	
    <div class="m250">
       <div style="display: block; height: 250px;">
	    <script src="{maccms:templatepath}ads/vodlist250x250-1.js"></script>
	   </div>	  
      <div class="space102"></div>	  
      <h2 class="phbTitle">
		{typepage:name}风云榜
	</h2>
	<div class="pfbItem" collection="Y">
		<ol>
{maccms:vodlist num=1 type={maccms:curvodtypeid} by=monthhits order=desc}
			<li class="li1">
					<a class="imgBg1 chaoqing_phb_pic" href="[vodlist:link]">
 
					<img width="75" height="100" alt="" src="[vodlist:pic]">
						<span class="num1"></span><span class="cqBg"></span>
					</a>
					<strong>
						<a alt="[vodlist:name]" title="[vodlist:name]" href="[vodlist:link]">[vodlist:name]</a>
					</strong><br>
					标签：[vodlist:typename]<br>
					人气：<span class="dafen3"><span class="fRed">[vodlist:hits]</span></span>
					
					<br>[vodlist:remarks]
			</li>
          {/maccms:vodlist}
		  {maccms:vodlist num=10 type={maccms:curvodtypeid} by=hits order=desc}
			<li {if:[vodlist:num] < 2 }style="display:none;"{end if}>
				<a alt="[vodlist:name]" title="[vodlist:name]" href="[vodlist:link]">[vodlist:name len=8]</a>[vodlist:remarks] [vodlist:typename]
			</li>
         {/maccms:vodlist}
		</ol>
	</div>
      <div class="space102"></div>
	    <div class="m250">
      <h2 class="phbTitle">
		{typepage:name}推荐榜
	</h2>
	<div class="pfbItem" collection="Y">
		<ol>
{maccms:vodlist num=1 type={maccms:curvodtypeid} level=all by=time order=desc}
			<li class="li1">
					<a class="imgBg1 chaoqing_phb_pic" href="[vodlist:link]">
 
					<img width="75" height="100" alt="" src="[vodlist:pic]">
						<span class="num1"></span><span class="cqBg"></span>
					</a>
					<strong>
						<a alt="[vodlist:name]" title="[vodlist:name]" href="[vodlist:link]">[vodlist:name]</a>
					</strong><br>
					标签：[vodlist:typename]<br>
					人气：<span class="dafen3"><span class="fRed">[vodlist:hits]</span></span>
					<br>[vodlist:remarks]
			</li>
          {/maccms:vodlist}
		  {maccms:vodlist num=9 type={maccms:curvodtypeid} start=2 level=all by=time order=desc}
			<li>
				<a alt="[vodlist:name]" title="[vodlist:name]" href="[vodlist:link]">[vodlist:name len=8]</a>[vodlist:remarks] [vodlist:typename]
			</li>
         {/maccms:vodlist}
		</ol>
	</div> 
</div>
 
 
 
<!-- 热点专题 -->
<div class="space102" collection="Y"></div>
<h2 class="phbTitle"> <a class="ui-droppable" href="{maccms:vodalllist}">热点专题</a> 
 
 <a class="ui-droppable" href="{maccms:vodalllist}">更多</a> </h2>
<div id="scrollCon" class="gundong" collection="Y">
{maccms:topiclist num=10 order=desc by=id table=vod}
<p class="tw"> <a href="#" class="imgBg1"><img data-lazy="[topiclist:pic]" alt="[topiclist:name]" title="[topiclist:name]" height="70" width="110" src="[topiclist:pic]"></a> <strong><a title="[topiclist:name]" class="ui-droppable" href="#">[topiclist:name len=6]</a></strong><br>
[topiclist:des len=20]</p>
{/maccms:topiclist}	
<br>
</div>
<!-- 热点专题 end -->
 
      <div class="space102"></div>
      <div style="display: block; height: 250px;">
	  <script src="{maccms:templatepath}ads/vodlist250x250-2.js"></script>
	  </div>
	  
      <div class="space102"></div>
    </div>
    <div class="mBg1BottomBg"></div>
  </div>
  <!-- 标准尾 begin -->
{maccms:foot}
  <!-- 标准尾 end -->
</div>
 
 
<script type="text/javascript"> 
 //__loadMainJs('movie');
 __loadCompatibleMainJs('movie');
 Q.projectName = 'qiyiV2';
 Q.ready(function (lib) {
     Q.load('base');
 });
</script>
</body>
</html>