<!--底部_START-->
			<div colltion="Y" class="footer">
        <a href="#">关于我们</a>|</span>
        <a href="#">联系方式</a><span class="fGray">|</span>
        <a href="#">版权声明</a><span class="fGray">|</span>
		<a href="{maccms:artindexlink}">新闻动态</a><span class="fGray">|</span>
        <a href="{maccms:gbooklink}">帮助中心</a><span class="fGray">|</span>
        <a href="{maccms:gbooklink}">友情链接</a><span class="fGray">|</span>
				<br>
				<p>Copyright @2010-2013 站长QQ：{maccms:qq} 版权所有{maccms:visits}</p>
</div>
			<!--底部_END-->