@charset "utf-8";.f-cb,.f-cbli li,.f-prz{zoom:1;}
.f-tal,caption,th{text-align:left;}
.f-pr,.f-prz{position:relative;}
blockquote,body,button,caption,dd,div,dl,dt,fieldset,figure,form,h1,h2,h3,h4,h5,h6,hr,html,input,legend,li,menu,ol,p,pre,table,td,textarea,th,ul{margin:0;padding:0;}
address,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}
table{border-collapse:collapse;border-spacing:0;}
caption,th{font-weight:400;}
abbr,body,fieldset,html,iframe,img{border:0;}
address,cite,dfn,em,i,var{font-style:normal;}
[hidefocus],summary{outline:0;}
li{list-style:none;}
h1,h2,h3,h4,h5,h6,small{font-size:100%;}
sub,sup{font-size:83%;}
code,kbd,pre,samp{font-family:inherit;}
q:after,q:before{content:none;}
textarea{overflow:auto;resize:none;}
.f-cb:after,.f-cbli li:after,.f-oh,.f-pre,.f-ti,.f-toe,.m-nav-1 ul,.u-cprt,.u-member:hover ul li{overflow:hidden;}
label,summary{cursor:default;}
.f-csp,a,button{cursor:pointer;}
b,em,h1,h2,h3,h4,h5,h6,strong{font-weight:700;}
a,a:hover,del,ins,s,u{text-decoration:none;}
body,button,input,keygen,legend,select,textarea{outline:0;color:#525252;font:14px/24px "Microsoft YaHei",\5b8b\4f53;}
img,input,textarea{border:none;}
body{background:#f2f2f2;}
.s-bg,.u-tougao{background-image:url(../images/bg.png);background-repeat:no-repeat;}
a,a:hover{color:#525252;}
.g-wrap-1,.g-wrap-1 a{color:#FFF;}
.f-cb:after,.f-cbli li:after{clear:both;display:block;visibility:hidden;height:0;content:".";}
.f-ib{display:inline-block;}
.f-dn{display:none;}
.f-db,.m-tb a{display:block;}
.f-fl{float:left;}
.f-fr{float:right;}
.f-ff0{font-family:arial,\5b8b\4f53;}
.f-ff1{font-family:"Microsoft YaHei",\5fae\8f6f\96c5\9ed1,arial,\5b8b\4f53;}
.f-fs1{font-size:12px;}
.f-fs2,.m-tb,.m-tb a{font-size:14px;}
.f-fwn{font-weight:400;}
.f-fwb{font-weight:700;}
.f-tac{text-align:center;}
.f-tar{text-align:right;}
.f-taj{text-align:justify;text-justify:inter-ideograph;}
.f-vam,.f-vama *{vertical-align:middle;}
.f-wsn{white-space:nowrap;word-wrap:normal;}
.f-pre,.f-wwb{word-wrap:break-word;word-break:break-all;}
.f-pre{text-align:left;white-space:pre-wrap;}
.f-wwb{white-space:normal;}
.f-toe,.u-msg{white-space:nowrap;}
.f-ti{text-indent:-30000px;}
.f-ti2{text-indent:2em;}
.f-lhn{line-height:normal;}
.g-wrap-1,.m-tb{height:36px;line-height:36px;}
.f-tdu,.f-tdu:hover{text-decoration:underline;}
.f-tdn,.f-tdn:hover{text-decoration:none;}
.f-toe{text-overflow:ellipsis;word-wrap:normal;}
.f-csd{cursor:default;}
.f-csh{cursor:help;}
.f-csm{cursor:move;}
.m-loginreg ul li,.s-pointer,.u-close,.u-ctb,.u-search .u-sub,footer .u-sub{cursor:pointer;}
.f-usn{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;-o-user-select:none;user-select:none;}
.g-fwrap{width:100%;}
.g-wrap{margin:0 auto;width:1000px;}
header{background-color:#FFF;}
.g-fwrap-1{background-color:#404040;-webkit-box-shadow:0 1px 2px #ebeaea;-moz-box-shadow:0 1px 2px #ebeaea;box-shadow:0 1px 2px #ebeaea;}
.m-subnav a.s-last{padding-right:0;}
.m-tb a{float:left;margin-top:10px;padding:0 15px;}
.m-tb a:hover{margin-top:0;background-color:#262626;color:#fff;}
.m-tb a.u-gbook,.m-tb a.u-log,.m-tb a.u-msgcnts,.m-tb a.u-tougao{padding-left:30px;}
.m-tb a.u-gbook{padding-left:40px;}
.m-tb a.u-log{margin-top:0;margin-left:15px;padding-right:5px;}
#j-treg{margin-top:0;}
.u-tougao{border-right:1px solid #ccc;background-position:-80px -372px;line-height:15px;}
.u-tougao:hover{padding-right:16px;border:none;background-position:-80px -362px;line-height:36px;}
.u-gbook{border-right:1px solid #ccc;background-position:15px -10px;line-height:15px;}
.u-gbook:hover{padding-right:16px;border:none;background-position:15px 1px;line-height:36px;}
.u-log{padding-right:15px;background-position:5px -37px;}
.m-tb a.u-gbook:hover,.m-tb a.u-log:hover,.m-tb a.u-msgcnts:hover{position:relative;margin-top:0;}
.m-tb a.u-gbook div,.m-tb a.u-log div,.m-tb a.u-msgcnts div{display:none;}
.m-tb a.u-gbook:hover div,.m-tb a.u-log:hover div,.m-tb a.u-msgcnts:hover div{position:absolute;top:0;left:-1px;display:block;width:1px;height:36px;background:#262626;}
.m-tb .u-msgcnts{padding-right:10px;height:25px;background-image:url(../images/bg.png);background-position:-175px -444px;background-repeat:no-repeat;}
.m-tb .u-msgcnts:hover{padding-top:10px;padding-bottom:1px;background-position:-175px -435px;}
.m-tb .u-msgcnts span{float:left;margin-left:10px;padding:0 5px;height:16px;border-radius:4px;background:#e8351a;color:#fff;text-align:center;font-size:12px;line-height:16px;}
.u-member ul,.u-member:hover{background:#2e2e2e;}
.m-tb .u-member{position:relative;display:inline-block;padding-right:30px;padding-left:15px;font-weight:400;font-size:14px;}
.u-member i{position:absolute;top:18px;right:15px;border-top:4px solid #fff;border-right:4px solid transparent;border-bottom:4px solid transparent;border-left:4px solid transparent;}
.u-member ul{position:absolute;top:32px;left:0;z-index:10;display:none;padding:10px 0;width:100%;height:1px;min-width:82px;opacity:.1;filter:alpha(opacity=10);}
.u-member:hover ul{display:block;height:auto;opacity:1;filter:alpha(opacity=100);}
.u-member:hover ul li a{display:inline-block;margin-top:0;padding:0 15px;width:100%;height:30px;color:#d9d9d9;font-size:13px;line-height:30px;}
.g-wrap-2,.u-logo{height:85px;}
.u-member:hover ul li a:hover{background:#262626;}
.u-member:hover ul li{margin:0;padding:0;text-align:left;font-size:14px;line-height:100%;}
.g-fwrap-2{background-color:#FFF;}
.u-logo{display:inline-block;width:208px;}
.u-logo-1{background-position:0 -514px;}
.u-logo-2{height:47px;background-position:0 -606px;}
.m-search{width:300px;color:#a7a7a7;}
.u-search{position:relative;padding:4px 8px 8px;width:279px;height:23px;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;-webkit-box-shadow:0 1px 3px 1px #dedddd;-moz-box-shadow:0 1px 3px 1px #dedddd;box-shadow:0 1px 3px 1px #dedddd;font:14px/24px "Microsoft YaHei",\5b8b\4f53;}
.u-search:hover{-webkit-box-shadow:0 1px 3px 2px #dedddd inset;-moz-box-shadow:0 1px 3px 2px #dedddd inset;box-shadow:0 1px 3px 2px #dedddd inset;}
.z-hv{display:block;width:279px;height:21px;border:1px solid #ccc;box-shadow:none;}
.u-search input{height:20px;border:none;background-color:inherit;color:#666;font-size:14px;}
.u-search .u-keyboard{float:left;display:block;margin-top:3px;width:245px;font-size:14px;}
.u-search .u-sub{display:block;width:30px;height:25px;background-position:9px -77px;}
.u-search ul{position:absolute;top:38px;left:0;display:none;padding:10px 0;width:240px;height:20px;background:#2d2d2d;color:#fff;font-size:14px;line-height:40px;}
.m-nav li,.m-nav li a{position:relative;float:left;}
.u-search ul li{float:left;padding:0 8px;}
.u-search ul li input{float:left;}
.u-search ul li label{float:left;margin-top:-10px;padding:0 0 0 3px;cursor:pointer;}
.u-hotsearch{padding-top:5px;text-indent:9px;}
.u-hotsearch,.u-hotsearch a{font-size:12px;}
.m-nav,footer h2{font-size:16px;}
.u-hotsearch a{padding-left:10px;color:#2b4d85;}
.m-search .u-box{height:34px;line-height:34px;}
.g-fwrap-3{background-color:#f5f5f5;-webkit-box-shadow:0 1px 3px #d3d2d2;-moz-box-shadow:0 1px 3px #d3d2d2;box-shadow:0 1px 3px #d3d2d2;}
.g-wrap-3{height:39px;line-height:39px;}
.m-nav li a{z-index:9;display:inline-block;padding:0 20px;}
.m-nav li:hover a{background:#2e2e2e;color:#fff;}
.m-nav .s-first a:hover,.m-nav li.s-first:hover a{background:0 0;color:#333;}
.m-nav .s-first a{margin-right:20px;margin-left:0;padding:0;border-top:3px solid #e8351a;line-height:33px;}
.u-tag{padding:0 20px 0 0;}
.u-tag a{color:#e8351a;}
.u-tag a:hover{color:#000;}
.m-nav ul{position:absolute;top:37px;left:0;z-index:10;display:none;padding:5px 0;height:auto;min-width:100px;background:#2e2e2e;opacity:0;filter:alpha(opacity=0) overflow: hidden;}
.m-nav li[class~=havson]:hover ul{display:block;height:auto;opacity:.99;filter:alpha(opacity=99);}
.m-loginreg button:hover,.m-loginreg ul li:hover,.u-bt-qq:hover,.u-bt-sina:hover,.u-share a:hover{filter:alpha(opacity=80);}
.m-nav ul li,.m-nav ul li[class~=havson]:hover{float:none;clear:both;border:none;text-align:center;}
.m-nav ul li a{display:inline-block;padding:0 18px;color:#444;}
.m-nav ul li:hover,.m-nav ul li:hover a{background:#000;}
.u-ctb{padding-right:5px;padding-left:33px;background-position:5px -361px;}
.u-ctb:hover{background-color:#e6e6e6;}
footer{margin-top:20px;padding-top:13px;padding-bottom:17px;background-color:#8c8c8c;color:#FFF;}
footer h2{height:36px;font-weight:400;line-height:36px;}
footer .m-bd{margin-top:5px;padding:0;}
.m-box-3{width:540px;}
.m-contact{margin-bottom:33px;width:270px;}
.m-contact p{font-size:14px;}
.m-fm{width:420px;}
footer .u-ipt{padding:3px 8px;height:24px;-webkit-box-shadow:0 1px 2px #dad9d9 inset;-moz-box-shadow:0 1px 2px #dad9d9 inset;}
footer .u-ipt,footer .u-tta{margin-bottom:8px;box-shadow:0 1px 2px #dad9d9 inset;color:#a7a7a7;font-size:14px;}
footer .u-name{width:151px;}
footer .u-email{width:229px;}
footer .u-tta{padding:4px 8px;width:404px;height:123px;-webkit-box-shadow:0 1px 2px #dad9d9 inset;-moz-box-shadow:0 1px 2px #dad9d9 inset;}
footer .u-key{position:relative;height:14px;font-size:12px;}
.u-vc{position:relative;top:5px;left:5px;}
footer .u-btn,footer .u-reset{height:30px;background-color:#757575;color:#fff;text-align:center;font-size:14px;line-height:30px;}
footer .u-sub{margin-right:6px;width:157px;}
footer .u-sub:hover{background-color:#666;}
footer .u-reset{width:100px;}
.u-cprt{clear:both;padding-top:12px;height:24px;color:#d4d4d4;font-size:12px;}
.u-share{margin-top:17px;width:270px;height:33px;}
.u-share a{display:inline-block;margin-right:7px;width:33px;height:33px;-webkit-border-radius:17px;-moz-border-radius:17px;border-radius:17px;background-color:#757575;}
#j-reg,.m-loginreg,.mask,.u-msg{display:none;}
.u-share a:hover{opacity:.8;}
.u-sina{background-position:7px -255px;}
.u-weixin{background-position:7px -291px;}
.u-rss{background-position:10px -328px;}
.m-loginreg{position:absolute;top:15%;left:40%;z-index:10000;margin:0 auto;padding:20px 30px 5px;width:340px;border-radius:4px;background:#fff;-webkit-box-shadow:0 1px 2px #bbb;-moz-box-shadow:0 1px 2px #bbb;box-shadow:0 1px 2px #bbb;}
.u-close{position:absolute;top:15px;right:15px;width:12px;height:12px;background:url(../images/icon_bg.png) -2px -218px no-repeat;}
.u-close:hover{background-position:-2px -233px;opacity:.8;}
.m-loginreg button{margin-bottom:20px;width:290px;height:40px;border:none;background:#e8351a;color:#fff;text-align:center;font-size:16px;line-height:40px;}
.m-loginreg button:hover{opacity:.8;}
.m-loginreg ul{padding:0 15px;height:45px;border-bottom:1px solid #d4d4d4;}
.m-loginreg ul li{float:left;margin:0 15px;color:#595959;font-size:18px;}
.m-loginreg ul li:hover{opacity:.8;}
.m-loginreg ul li.z-crt{border-bottom:3px solid #e8351a;}
.m-loginreg p{margin-bottom:20px;font-size:14px;}
.m-loginreg p a{color:#b2b2b2;}
.m-loginreg p a:hover{color:#e8351a;}
.m-loginreg p span{padding:0 30px 0 5px;color:#666;}
.m-loginreg form{padding:25px;}
.m-loginreg input{width:230px;height:20px;}
.m-loginreg .u-email,.m-loginreg .u-password,.m-loginreg .u-username{position:relative;display:block;overflow:hidden;margin-bottom:20px;padding:10px 0 10px 48px;width:240px;height:20px;border:1px solid #d1d1d1;border-radius:4px;background-color:#fff;background-position:15px 12px;background-repeat:no-repeat;box-shadow:0 1px 2px #ccc inset;}
.m-loginreg .u-email:hover,.m-loginreg .u-password:hover,.m-loginreg .u-username:hover{box-shadow:none;opacity:.8;filter:alpha(opacity=80);}
.m-loginreg .u-email i,.m-loginreg .u-password i,.m-loginreg .u-username i{position:absolute;top:13px;left:15px;display:block;width:16px;height:16px;background-image:url(../images/icon_bg.png);}
.m-loginreg .u-username i{background-position:0 -166px;}
.m-loginreg .u-password i{background-position:0 -199px;}
.m-loginreg .u-email i{background-position:0 -182px;}
.m-loginreg input[type=checkbox]{float:left;display:block;margin:6px 0 0;width:15px;height:15px;border:1px solid #e5e5e5;background:#fff;}
.u-bt-qq,.u-bt-sina{display:block;padding-left:30px;width:100px;height:40px;border-style:solid;border-width:1px;border-radius:4px;background-color:#fff;background-position:10px 8px;background-repeat:no-repeat;text-align:center;line-height:40px;}
.u-bt-sina{border-color:#ff4a64;background-image:url(../images/icon_sina.jpg);color:#ff4a64;}
.u-bt-qq{border-color:#5aa6f2;background-image:url(../images/icon_qq.jpg);color:#5aa6f2;}
.u-bt-sina:hover{color:#ff4a64;opacity:.8;}
.u-bt-qq:hover{color:#5aa6f2;opacity:.8;}
div.formwrong{position:relative;margin:-20px 0 20px;padding:8px 20px;width:200px;height:20px;color:#eb2716;font-size:12px;line-height:20px;}
div.formok{position:absolute;right:30px;margin:-60px -20px 0 0;padding:8px 0;width:30px;height:30px;}
.formok i,div.formwrong i{position:absolute;display:block;width:16px;height:16px;background-image:url(../images/icon_bg.png);background-repeat:no-repeat;}
div.formwrong i{top:10px;left:0;background-position:-39px -280px;}
div.formok i{background-position:-39px -296px;}
.mask{position:fixed;top:0;left:0;z-index:9999;margin:0;padding:0;width:100%;height:100%;border:none;background:#333;opacity:.6;filter:alpha(opacity=60);}
.u-msg{position:absolute;z-index:100;padding:15px 60px;background-color:#000;color:#fff;font-size:18px;line-height:100%;opacity:.7;filter:alpha(opacity=70);}
.m-nav-1 li:hover,.m-nav-1 ul{background:#2e2e2e;}
.g-wrap{position:relative;}
.m-subnav a{padding-right:46px;color:#d9d9d9;font-size:14px;}
.m-nav-1 li:hover a,.m-subnav a:hover{color:#fff;}
.m-loginreg{font:14px/24px "Microsoft YaHei",\5b8b\4f53;}
.m-loginreg ul li{padding:8px 0 10px;}
.m-loginreg input{font-size:14px;}
.m-loginreg input[type=checkbox]{margin-top:5px;}
.m-nav-1{position:absolute;top:25px;left:275px;width:355px;height:36px;font-size:16px;line-height:36px;}
.m-nav-1 li{position:relative;z-index:9;float:left;padding:0 15px;}
.m-nav-1 li.z-crt{margin:-1px 15px 0;padding:0;border-top:3px solid #e8351a;line-height:33px;}
.m-nav-1 li.z-crt:hover{margin:0;padding:0 15px;border:none;line-height:36px;}
.m-nav-1 a{color:#525252;}
.m-nav-1 a:hover{color:#fff;}
.m-nav-1 ul{position:absolute;top:36px;left:0;z-index:10;visibility:hidden;padding:5px 0;height:0;min-width:105px;opacity:0;filter:alpha(opacity=0);}
.m-nav-1 li[class~=havson]:hover ul{visibility:visible;height:auto;opacity:.99;filter:alpha(opacity=99);}
.m-nav-1 ul li,.m-nav-1 ul li[class~=havson]:hover{float:none;clear:both;margin:0;border:none;text-align:center;}
.m-nav-1 ul li a{padding:0;color:#444;}
.m-nav-1 ul li:hover,.m-nav-1 ul li:hover a{background:#000;}
.m-search{margin-top:23px;}
.g-fwrap-grey{height:40px;background:#ebebeb;}
.m-nav-2{margin:0 auto;width:1000px;font-size:14px;line-height:16px;}
.m-nav-2 li{float:left;padding:13px 25px 10px;}
.m-nav-2 li.z-crt{background:#dedede;}
.m-nav-2 a{color:#6a6a6a;}
.m-nav-2 a:hover{color:#e8351a;}
.m-crm,.m-crm a{color:#a6a6a6;}
.m-crm{clear:both;padding:10px 0 17px;font-size:14px;}
.m-crm a.s-last,.m-crm a:hover,.m-crm span.s-last,.m-crm span.s-last a{color:#e8351a;}
.m-crm a.s-last:hover,.m-crm span.s-last a:hover{color:#333;}
