<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>留言本-{maccms:name}</title>
<meta name="keywords" content="留言本-{maccms:name}" />
<meta name="description" content="留言本-{maccms:name}" />	
{maccms:include}
</head>
<body>
{maccms:head}
<div class="container">
		<div class="nvc">
			<dl>
				<dt>
					<span>当前位置</span>
					<i class="arrow"><b class="a_outer"></b><b class="a_inner"></b></i>
				</dt>
				<dd><a href="/">首页</a> » 留言板</dd>
			</dl>
		</div>
</div>
   <div style="width:1000px;margin:0 auto;margin-bottom:10px;">
	<div class="ibox playBox"> 
    <div class="playBar liketitle">
     <strong>用户评论</strong>
    </div> 
    <div class="vodplayinfo"> 
<!--高速版-->
<div id="SOHUCS"></div>
<script charset="utf-8" type="text/javascript" src="http://changyan.sohu.com/upload/changyan.js" ></script>
<script type="text/javascript">
    window.changyan.api.config({
        appid: 'cys9Onrs8',
        conf: 'prod_6c160021602f27267e2be5ae2ba2a9bc'
    });
</script>        
    </div> 
   </div>
     <div  style="clear:both"></div> 
   </div>
{maccms:foot}
<!--/Footer-->
</body>
</html>