<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head> 
  <title>{maccms:name}</title> 
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
  <meta name="keywords" content="{maccms:name}" /> 
  <meta name="description" content="{maccms:name}" />
 {maccms:include}
 </head>
 <body>
  {maccms:head}
  <div class="container">
		<div class="nvc">
			<dl>
				<dt>
					<span>当前位置</span>
					<i class="arrow"><b class="a_outer"></b><b class="a_inner"></b></i>
				</dt>
				<dd><!-- &gt;&gt; --> » 搜索&nbsp;<span class="">{page:key}</span>&nbsp;的结果共 <span class="">&nbsp;{page:datacount}&nbsp;</span>条</dd>
			</dl>
		</div>
</div>
  <div class="xing_vb"> 
   <ul>
    <li><span class="xing_vb1">影片名称</span><span class="xing_vb2">影片类别</span><span class="xing_vb3">更新时间</span></li>
   </ul>
   {maccms:vod pagesize=50 type=all order=desc by=time} 
   <ul>
    <li><span class="tt"></span><span class="xing_vb4"><a href="[vod:link]" target="_blank">[vod:name][vod:remarks]</a></span> <span class="xing_vb5">[vod:typename]</span> <span class="xing_vb6">[vod:time]</span></li>
   </ul> 
   {/maccms:vod} 
   <ul style="display:block;clear:both;">
    <li>
     <div class="pages" style="margin-bottom:10px;">{maccms:pages len=6}</div></li>
   </ul> 
   <div style="clear:both"></div> 
  </div> 
  {maccms:foot}  
 </body>
</html>