<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
 
<html xmlns="http://www.w3.org/1999/xhtml"><head>
 <meta charset=utf-8 />
<title>{topicpage:name}专题- {maccms:name}</title>
<meta name="keywords" content="{topicpage:name}最新全集 主演的电影、电视剧，《{topicpage:name}最新全集 电影全集》高清电影在线观看 - 百度影音"><meta name="description" content="{maccms:name} 收集了{topicpage:name}最新全集 演艺生涯主演的大部分电影和电视剧，提供《{topicpage:name}最新全集 电影全集》高清电影在线观看 - 百度影音和{topicpage:name}最新全集 的资料简介，如果你是{topicpage:name}最新全集 粉丝，请转发给你的朋友一起来为偶像喝彩吧"> 
 <link href="{maccms:templatepath}images/zt.css" rel="stylesheet" type="text/css" media="all">
<link href="{maccms:templatepath}images/Common2.css" rel="stylesheet" type="text/css" />
 
<Style type="text/css"> 
 
.gap_l {
 
height: 0;
 
overflow: hidden;
 
line-height: 0;
 
border-top: 1px solid #DBDBDB;
 
margin: 10px 0;
 
font-size: 0;
 
clear: both;
 
}
 
</Style>
 
<script>var maccms_path='{maccms:path}';</script>
 
<script src="{maccms:path}js/jquery.js"></script>
 
<script src="{maccms:path}js/function.js"></script>
 
 
 
  
 
 <style type="text/css">
 body { background: #000000 url({maccms:templatepath}images/YBTEE.jpg)   no-repeat center top; }.STYLE1 {color: #FFFFFF}
 </style> 
</script>
</head>
<div class="zt_h_boxm"><div class="zt_boxtop"></div><div class="zt_box"><h1><b><a href="/"> 返回首页</a>|<a href="{maccms:vodtopiclink} "> 更多专题</a></b><em>{topicpage:name}影视作品集</em><i>Video (小俊设计 QQ：787850323 www.xj.com.nu)</i></h1>
 
 
 
 
<div class="zt_box">


<ul class="vlist">

{maccms:vodpagelist  num=100  type=current by=time order=desc}
<li><div class="imgset"><a href="[pagelist:link]" title="[pagelist:name]" target="_blank"><img src=" [pagelist:pic] "  onerror="javascript:this.src='{maccms:templatepath}fxxx8/fx8.gif';"  alt="[pagelist:name]" width="105" height="150" title="[pagelist:name]" /><span class="label"><i></i><em>
   {if:not isN("pagelist:remarks]")}[pagelist:remarks]{elseif:[pagelist:state]=0}
[完结]{elseif:[pagelist:state]>0}更新至[pagelist:state] {else}{end if}</em></span></a></div><p class="zname"><a title="[pagelist:name]" href="[pagelist:link]" target="_blank">[pagelist:name]</a></p><p class="star0">
<a href="#" title="推荐为0星级" ></a></p><p class="log">　[pagelist:contenttext len=20]..</p></li> {/maccms:vodpagelist} 
<div class="clear"></div></ul></div><div class="clear"></div></div><div class="zt_boxbot">
</div></div><div class="footer">
 
 {maccms:name} 所有资源全部引用 快播 和 百度影音 和其它视频站上的资源,在播放页有注明视频出处.如有侵权!
 <br>请联系邮箱：<a href="mailto:787850323@qq.com">787850323@qq.com</a>本站将会以最快的速度将其删除!<br>Copyright ? {maccms:name}  <br /> 
 <span>
 </span>
 <br />
 </div>
</body>
</html>
 
 
 
 

