<!DOCTYPE HTML publiC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3c.org/TR/1999/REC-html401-19991224/loose.dtd">
<HTML xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>明星影视专题列表,{maccms:name} 免费在线电影网-Www.m1938.com-在线高清电影-在线影院-快播电影-免费高清电影</title>
<meta name="keywords" content="{maccms:name} ,专题列表,第页,QVOD电影,免费电影,高清电影,粤语经典,TVB电视剧" />
<meta name="description" content="{maccms:name} 免费在线电影网,为您提供特色专题,QVOD电影,免费电影,高清电影,粤语经典,TVB电视剧" />
<link href="{maccms:templatepath}images/base.css" type="text/css" rel="stylesheet" />
<script src="{maccms:templatepath}images/jquery-1.8.2.min.js" type="text/javascript"></script>
<script src="{maccms:templatepath}images/log.js" type="text/javascript"></script>
<script src="{maccms:templatepath}images/base.js" type="text/javascript"></script>
<script>var maccms_path='{maccms:path}';</script>
<script src="{maccms:path}js/history.js"></script>
<link type="text/css"rel="stylesheet" href="{maccms:templatepath}images/public.css">
</head>
<body>
{maccms:head}
<!--/Nav-->
<div id="content">
<div class="blank12H"></div>
<div class="area kuS_nav">
<p class="pr r"></p>
</div></div>
<div class="blank12H"></div>
<div id="ku_contentA" class="area pub">
<div class="kuniao_blockA kuniao_bordA">
<div class="kuniao_pp kuniao_pp2">
 <ul>{maccms:topicpagelist num=12}
 <li><a href="[pagelist:link]" target="_blank"><img width="212" height="120" alt="[pagelist:name]" src="[pagelist:pic]"></a>
<strong sizset="396" sizcache="1">
<a href="[pagelist:link]" target="_blank">[pagelist:name]</a> 【共[pagelist:count]部】
</strong> 
<p>  [pagelist:des len=30]...<a href="[pagelist:link] " class="color1" target="_blank">[详细]</a></p>
</li>
{/maccms:topicpagelist}
</ul>
</div>
<div class="more">
 
<table align="center"> 
  <tbody><tr><td nowrap=""><span> 共{maccms:pagedata}条记录</span>
<a href="{maccms:pagefirst}">首页</a><a href="{maccms:pagepre}">上一页</a>
<a href="{maccms:pagenext}">下一页</a>
<a href="{maccms:pagelast}">尾页</a>
</td></tr></tbody></table></div></div></div>
</div>
</div>
</div>
 
 {maccms:foot}
</body>
</html>
