		<meta http-equiv="Cache-Control" content="no-transform" />
		<meta http-equiv="Cache-Control" content="no-siteapp" />
		<meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7;IE=6; IE=EDGE,chrome=1"/>
		<link rel="shortcut icon" href="favicon.ico">
		<link href="{maccms:path_tpl}css/comm.css" rel="stylesheet" type="text/css"/>
		<script type="text/javascript" src="{maccms:path_tpl}js/jquery-1.7.2.min.js"></script>
		<script type="text/javascript" src="{maccms:path_tpl}js/home.js"></script>
		<script type="text/javascript" src="{maccms:path_tpl}js/vod_home.js"></script>
		<script type="text/javascript" src="{maccms:path_tpl}js/superslide.2.1.js"></script>
		<script type="text/javascript" src="{maccms:path_tpl}js/search_dy.js">
		</script>
		<script type="text/javascript" src="{maccms:path_tpl}js/fun_new.js"></script>
		<script>
			var SitePath = '{maccms:path}',
			SiteAid = '{maccms:siteaid}',
			SiteTid = '{maccms:sitetid}',
			SiteId = '{maccms:siteid}';
		</script>

            