<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<title>最新{page:year}{page:area}{page:classname}{page:name} - 第{page:now}页 - {maccms:name}</title>
<meta name="keywords" content="{page:year}{page:area}{page:classname}{page:name}"/>
<meta name="description" content="{maccms:name}提供最新{page:year}{page:area}{page:classname}{page:name}免费在线观看和热门{page:year}{page:area}{page:classname}{page:name}免费下载。"/>
<link rel="alternate" media="only screen and(max-width: 640px)" href="{maccms:qq}{page:link}">
<link href="{maccms:path_tpl}css/index.css" rel="stylesheet" type="text/css"/>
{maccms:include}
</head>
<body>
{maccms:head}
<div class="mainBox">
	<div class="main_width">
		<div class="mbx_nav bb">
			<span class="current_position">您当前的位置：</span>{page:textlink}
		</div>
		<div class="sy_contBox">
			<div class="yp_lx">
				<span>影片类型：</span>
				<ul class="yp_list lx_list" id="lxlist">
{maccms:menu type=auto order=asc table=vod}
					<li><a href="[menu:link]" {if-a: "{page:id}"="[menu:id]" } class="cur" {endif-a} title="[menu:name]">[menu:name]</a></li>
{/maccms:menu}
				</ul>
			</div>
			<div class="sy_timenav">
				<span>上映时间：</span>
{maccms:year type=auto start=2006 end=2016 order=desc}
				<a href="[year:link]" {if-a: "{page:year}"="[year:name]" } class="cur" {endif-a} title="[year:name]{page:name}">[year:name]</a>
{/maccms:year}
			</div>
			<div class="yp_dq">
				<span>影片地区：</span>
				<ul class="yp_list" id="dqlist">
{maccms:area type=auto}
					<li><a href="[area:link]" {if-a: "{page:area}"="[area:name]" } class="cur" {endif-a} title="[area:name]{page:name}">[area:name]</a></li>
{/maccms:area}
				</ul>
			</div>
		</div>
		<div style="margin:5px auto; width:1000px;">
			<script src="{maccms:path_ads}960x90-2.js"></script>
		</div>
		<div class="movie_contBox">
			<div class="hot_movieBox">
				<div class="lx_titBox">
					<a href="{page:linkbytime}"{if-A: "{page:by}"="time" } class="cur" {endif-a}>最新{page:name}</a>
					<a href="{page:linkbyscore}" {if-a: "{page:by}"="score" } class="cur" {endif-a}>好评{page:name}</a>
					<a href="{page:linkbyhits}" {if-a: "{page:by}"="hits" } class="cur" {endif-a}>热门{page:name}</a>
				</div>
				<div class="cl">
				</div>
				<ul class="contBox hot_contBox">
                    {maccms:vod pagesize=20 order=desc by=time}
					<li>
					<a title="[vod:name]" target="_blank" href="[vod:link]"><img style="height:244px;" src="[vod:pic]" alt="[vod:name]"/></a>
					<div class="img_tit">
						<a title="[vod:name]" target="_blank" href="[vod:link]">[vod:name]</a>
					</div>
					</li>{/maccms:vod}
				</ul>
				<div class="cl">
				</div>
				<div class="pre_nextBox">
					{maccms:pages len=5}
				</div>
			</div>
		</div>
	</div>
</div>
{maccms:foot}
</body>
</html>